.invoice-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Courier New", monospace;
}

.thermal-invoice {
  width: 80mm;
  background: white;
  padding: 6px;
  font-size: 11px;
  color: black;
  border: 1px solid #ccc;
}

.shop-name {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.shop-address {
  text-align: center;
  font-size: 10px;
  line-height: 1.2;
}

.invoice-title {
  text-align: center;
  border-top: 1px dashed black;
  border-bottom: 1px dashed black;
  padding: 3px 0;
  margin: 6px 0;
  font-weight: bold;
}

.invoice-info {
  font-size: 10.5px;
  line-height: 1.3;
  margin-bottom: 6px;
}

.bill-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 5px;
}

.bill-table th,
.bill-table td {
  text-align: left;
  padding: 2px;
  border-bottom: 1px dashed #ccc;
}

.sub-row td {
  font-size: 10px;
  border-bottom: 1px dashed #ccc;
}

.total-section {
  border-top: 1px dashed black;
  font-size: 11px;
  margin-top: 5px;
  padding-top: 5px;
}

.in-words {
  margin-top: 4px;
  font-size: 10px;
  font-style: italic;
}

.gst-summary {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  font-size: 10.5px;
}

.gst-summary th,
.gst-summary td {
  padding: 2px;
  border-bottom: 1px dashed #ccc;
  text-align: left;
}

.summary {
  margin-top: 5px;
  border-top: 1px dashed #000;
  padding-top: 5px;
  font-size: 11px;
}

.footer {
  text-align: center;
  border-top: 1px dashed black;
  margin-top: 6px;
  padding-top: 4px;
  font-weight: bold;
}

.invoice-download-btn {
  margin-top: 12px;
  background: black;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
}
