.invoice-container {
  font-family: "Courier New", monospace;
  justify-content: center;
}

.thermal-invoice {
  width: 80mm;
  padding: 6px 6px;
  background: #fafafa;
  border: 1px solid #ccc;
  font-size: 11px;
  color: #000;
  line-height: 1.15;
  letter-spacing: 0.2px;
}

.shop-name {
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  margin: 2px 0;
}

.shop-address {
  text-align: center;
  font-size: 10px;
  margin-bottom: 7px;
  white-space: pre-line;
  font-weight: 550;
}

.shop-contact {
  text-align: center;
  font-size: 10px;
  margin-bottom: 2px;
  white-space: pre-line;
  font-weight: 550;

}

.shop-gst {
  text-align: center;
  font-size: 11px;
  margin-bottom: 5px;
  font-weight: 550;

}

.invoice-title {
  text-align: center;
  font-weight: 700;
  padding: 3px 0;
  margin: 6px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.date-format-row {
  align-items: end;
}

.invoice-row {
  display: grid;
  grid-template-columns: 120px 1fr auto;
  font-size: 11.5px;
  /* margin-bottom: 1px; */
  align-items: center;
  font-weight: 550;

}


.invoice-no {
  text-align: left;
  margin-top: -8px;
  font-weight: 550;

}

.invoice-date {
  text-align: right;
  display: block;
  width: 75px;
  margin-top: -8px;
  font-weight: 550;

}

.customer-row {
  display: flex;
  font-size: 11.5px;
  margin-top: -4px;
  font-weight: 550;

}

.invoice-label {
  font-weight: 550;
  margin-bottom: 7px;
}

.bill-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 11px;
  margin-top: 6px;
}

.main-header th {
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  font-weight: 600;
}

.sub-header th {
  padding-top: 1px;
  padding-bottom: 3px;
  font-size: 10px;
  font-weight: 600;
}

.table-row-1 {
  font-weight: 700;
}

.bill-table td {
  padding: 3px 0;
}

.bill-table th:nth-child(1),
.bill-table td:nth-child(1) {
  width: 1%;
}

.bill-table th:nth-child(2),
.bill-table td:nth-child(2) {
  width: 22%;
}

.bill-table th:nth-child(3),
.bill-table td:nth-child(3),
.bill-table th:nth-child(4),
.bill-table td:nth-child(4),
.bill-table th:nth-child(5),
.bill-table td:nth-child(5) {
  width: 17%;
  text-align: right;
}

.sub-row td {
  font-size: 10px;
  padding: 1px 0 2px 0;
  font-weight: 450;

}

.post-table-summary {
  font-size: 11px;
  margin-top: 6px;
  font-weight: 550;

}

.summary-line {
  margin: 6px 0;
  font-weight: 550;

}

.total-row {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
}

.roundoff-row {
  display: flex;
  justify-content: space-between;
  padding: 2px 0;
  font-size: 10.5px;
  font-weight: 550;

}

.final-row {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding-top: 4px;
  border-top: 1px solid #000;

}

.in-words {
  margin-top: 6px;
  font-size: 11px;
  font-weight: 500;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 3px 0 3px 0;
}

.gst-summary {
  width: 100%;
  border-collapse: collapse;
  font-size: 11px;
  margin-top: 6px;
}

.gst-summary th {
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  font-weight: 650;

}

.gst-summary td {
  padding: 3px 0;
  text-align: right;
  font-weight: 550;

}

.gst-summary th:first-child,
.gst-summary td:first-child {
  text-align: left;
}

.summary {
  font-size: 11px;
}

.summary p {
  display: flex;
  margin: 3px 0;
  white-space: inherit;
}

.footer {
  margin-top: 8px;
  padding-top: 6px;
  text-align: center;
  font-size: 15px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-weight: bold;
}

.invoice-download-btn {
  margin-top: 10px;
  background: #000;
  color: #fff;
  padding: 6px 12px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 4px;
}

@media print {
  .invoice-container .button-group,
  .invoice-download-btn,
  .invoice-print-btn {
    display: none !important;
  }

  .thermal-invoice {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
  }
}