.admin-container {
    margin: 0;
    height: 100vh;
    width: 100vw;
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
}

.admin-main {
    flex-grow: 1;
    /* display: flex;
    flex-direction: column;
    align-items: left; */
    padding-left: 5rem;
    font-size: 3rem;
    text-align: left;
}

.admin-box {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.admin-sidebar {
    flex-basis: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
    border: 0.05rem solid #131313;
    background-color: #EFEFEF;
    border-radius: 1rem;
}

.admin-title {
    flex-basis: 5vh;
    font-size: 3rem;
    padding-top: 1.2rem;
}

.admin-sidebar button {
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    border: none;
    border-top: 0.125rem solid #131313;
    text-align: left;
    padding: 1rem 0.8rem;
}

.admin-sidebar button:hover {
    cursor: pointer;
    background-color: rgb(217, 213, 213);
}

.admin-sidebar .active-btn {
    background-color: rgb(217, 213, 213);
}

.admin-sidebar .home-btn {
    border-top: none;
}

